<html>
<head>
    <title>Topicr</title>
    <link href="~/css/site.min.css" rel="stylesheet">
    <link href="~/lib/tether/dist/css/tether.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/favicon.ico" rel="icon" type="/image/vnd.microsoft.icon">
</head>
<body>
    <div id="content"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    @if (!string.IsNullOrWhiteSpace(ViewBag?.Link))
    {
        <script type="text/javascript">
            sessionStorage['pollLink'] = '@ViewBag.Link';
        </script>
    }

    <script src="@Url.Content("~/js/client.bundle.js")"></script>
</body>
</html>
